In [8]:
"""Use dask to explore the whole dataset"""

import dask.dataframe as dd 
import numpy as np
import pandas as pd

In [7]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

# Load Data

In [10]:
import sys
IN_COLAB = 'google.colab' in sys.modules
train = dd.read_csv("/content/drive/MyDrive/Raw/training_set_VU_DM.csv")
test = dd.read_csv("/content/drive/MyDrive/Raw/test_set_VU_DM.csv")

# Inspect Train Data

*   position - Integer
*   click_bool - (Boolean) - clicked on the property
*   booking_bool - (Boolean) - booked the property
*   gross_booking_usd - (Float)

In [11]:
train.columns

Index(['srch_id', 'date_time', 'site_id', 'visitor_location_country_id',
       'visitor_hist_starrating', 'visitor_hist_adr_usd', 'prop_country_id',
       'prop_id', 'prop_starrating', 'prop_review_score', 'prop_brand_bool',
       'prop_location_score1', 'prop_location_score2',
       'prop_log_historical_price', 'position', 'price_usd', 'promotion_flag',
       'srch_destination_id', 'srch_length_of_stay', 'srch_booking_window',
       'srch_adults_count', 'srch_children_count', 'srch_room_count',
       'srch_saturday_night_bool', 'srch_query_affinity_score',
       'orig_destination_distance', 'random_bool', 'comp1_rate', 'comp1_inv',
       'comp1_rate_percent_diff', 'comp2_rate', 'comp2_inv',
       'comp2_rate_percent_diff', 'comp3_rate', 'comp3_inv',
       'comp3_rate_percent_diff', 'comp4_rate', 'comp4_inv',
       'comp4_rate_percent_diff', 'comp5_rate', 'comp5_inv',
       'comp5_rate_percent_diff', 'comp6_rate', 'comp6_inv',
       'comp6_rate_percent_diff', 'comp7_rate', 'comp7_inv',
       'comp7_rate_percent_diff', 'comp8_rate', 'comp8_inv',
       'comp8_rate_percent_diff', 'click_bool', 'gross_bookings_usd',
       'booking_bool'],
      dtype='object')

In [26]:
# Get the unique number of search IDs
unique_srch_ids = train["srch_id"].unique().compute()

In [17]:
unique_srch_ids.shape

(199795,)

In [18]:
# Get distributions of nans
isnans = train.isna().sum().compute()

In [19]:
isnans

srch_id                              0
date_time                            0
site_id                              0
visitor_location_country_id          0
visitor_hist_starrating        4706481
visitor_hist_adr_usd           4705359
prop_country_id                      0
prop_id                              0
prop_starrating                      0
prop_review_score                 7364
prop_brand_bool                      0
prop_location_score1                 0
prop_location_score2           1090348
prop_log_historical_price            0
position                             0
price_usd                            0
promotion_flag                       0
srch_destination_id                  0
srch_length_of_stay                  0
srch_booking_window                  0
srch_adults_count                    0
srch_children_count                  0
srch_room_count                      0
srch_saturday_night_bool             0
srch_query_affinity_score      4640941
orig_destination_distance      1607782
random_bool                          0
comp1_rate                     4838417
comp1_inv                      4828788
comp1_rate_percent_diff        4863908
comp2_rate                     2933675
comp2_inv                      2828078
comp2_rate_percent_diff        4402109
comp3_rate                     3424059
comp3_inv                      3307357
comp3_rate_percent_diff        4485550
comp4_rate                     4650969
comp4_inv                      4614684
comp4_rate_percent_diff        4827261
comp5_rate                     2735974
comp5_inv                      2598327
comp5_rate_percent_diff        4117248
comp6_rate                     4718190
comp6_inv                      4697371
comp6_rate_percent_diff        4862173
comp7_rate                     4642999
comp7_inv                      4601925
comp7_rate_percent_diff        4819832
comp8_rate                     3041693
comp8_inv                      2970844
comp8_rate_percent_diff        4343617
click_bool                           0
gross_bookings_usd             4819957
booking_bool                         0
dtype: int64

In [25]:
display(train[train["srch_id"] == 1].head())

,srch_id,date_time,site_id,visitor_location_country_id,visitor_hist_starrating,visitor_hist_adr_usd,prop_country_id,prop_id,prop_starrating,prop_review_score,...,comp6_rate_percent_diff,comp7_rate,comp7_inv,comp7_rate_percent_diff,comp8_rate,comp8_inv,comp8_rate_percent_diff,click_bool,gross_bookings_usd,booking_bool
0,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,893,3,3.5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
1,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,10404,4,4.0,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
2,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,21315,3,4.5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
3,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,27348,2,4.0,...,NaN,NaN,NaN,NaN,-1.0,0.0,5.0,0,NaN,0
4,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,29604,4,3.5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0

Warning: Total number of columns (54) exceeds max_columns (20) limiting to first (20) columns.